.search__fulltime {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  margin: 1.5rem;
  cursor: pointer;
  color: var(--text-primary);
  transition: 0.3s all;
}

.search__fulltime input[type="checkbox"] {
  display: flex;
  justify-content: center;
  appearance: none;
  min-height: 24px;
  min-width: 24px;
  background-color: var(--text-primary);
  border-radius: 3px;
  opacity: 0.1;
  cursor: pointer;
  transition: 0.3s all;
}

.search__fulltime input[type="checkbox"]::after {
  content: url("../../../../assets/desktop/icon-check.svg");
  display: none;
}

.search__fulltime input[type="checkbox"]:hover {
  background-color: var(--accent-hover);
  opacity: 0.5;
}

.search__fulltime input[type="checkbox"]:checked {
  background-color: var(--accent);
  opacity: 1;
}

.search__fulltime input[type="checkbox"]:checked::after {
  display: block;
}

@media (min-width: 768px) {
  .search__fulltime {
    align-items: center;
    margin-left: 1.25rem;
    margin-right: 1.75rem;
    max-width: 208px;
  }
}

@media (min-width: 1440px) {
  .search__fulltime {
    margin-left: 2rem;
    margin-right: 1.625rem;
  }
}
