.search__form {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--card-bg);
  border-radius: 6px;
  height: 80px;
  top: -40px;
  transition: all 0.3s;
  font-size: 1rem;
  padding: 0 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.search__form input {
  outline: none;
  background-color: inherit;
  border: none;
}

.search__mobile_btn_icon {
  width: 20px;
  height: 20px;
  filter: brightness(100);
}

@media (min-width: 768px) {
  .search__form {
    max-width: none;
  }
}
