.search__form {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--card-bg);
  border-radius: 6px;
  height: 80px;
  top: -40px;
  transition: all 0.3s;
  font-size: 1rem;
  padding: 0 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.search__form input {
  outline: none;
  background-color: inherit;
  border: none;
}

.search__title_container {
  display: flex;
  flex: 1;
}

.search__title {
  border: none;
  padding-left: 0.5rem;
  width: 100%;
}

.search__location_container {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid hsla(214, 17%, 51%, 0.2);
  gap: 1rem;
}

.search__filter_btn {
  border: none;
  background-color: inherit;
  margin-right: 1.5rem;
}

.search__filter_btn_icon {
  width: 19.97px;
  height: 20px;
}

.search__mobile_btn {
  border: none;
  background-color: var(--accent);
  padding: 0.875em;
  border-radius: 6px;
}

.search__mobile_btn_icon {
  width: 20px;
  height: 20px;
  filter: brightness(100);
}

.other {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  max-width: 500px;
  background-color: var(--card-bg);
  border-radius: 6px;
  border: 2px solid black;
  height: 217px;
  top: 225px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search__btn {
  padding: 1em 0.875em;
  margin-top: 1.5rem;
  background-color: var(--accent);
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}
