.search__input {
  background-color: inherit;
  color: var(--text-primary);
  font-size: inherit;
  border: none;
  margin-left: 0.5rem;
  flex-basis: 60%;
}

.search__input:focus {
  outline: none;
}
