.main {
  background-color: var(--bg);
  transition: 0.3s all;
  padding-bottom: 3.875rem;
}

.main__loadmore_button {
  display: block;
  margin: 2rem auto 0;
}

@media (min-width: 768px) {
  .main__loadmore_button {
    margin-top: 3.5rem;
  }
}
