.postings {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  gap: 3.0625rem;
  margin: 1.0625rem auto 0;
}

@media (min-width: 768px) {
  .postings {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4.0625rem 0.6875rem;
    max-width: none;
    margin: 1.875rem auto 0;
  }
}

@media (min-width: 1100px) {
  .postings {
    margin: 4.0625rem auto 0;

    grid-template-columns: repeat(3, 1fr);
  }
}
