.job__posting {
  position: relative;
  flex-basis: 100%;
  padding: 3.0625rem 2rem 2rem;
  margin-top: 49px;
  max-width: 350px;
  background: var(--card-bg);
  border-radius: 6px;
}

.job__logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: absolute;
  transform: translateY(-25px);
  border-radius: 15px;
  width: 50px;
  height: 50px;
}

.job__overview {
  display: flex;
  gap: 0.75rem;
  color: var(--text-secondary);
}

.job__styled_seperator {
  transform: scale(2) translateY(-2px);
}

.job__position {
  color: var(--text-primary);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 25px;
  margin: 12px 0;
}

.job__company {
  color: var(--text-secondary);
  margin-bottom: 40px;
}

.job__location {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--accent);
}

@media (min-width: 768px) {
  .job__posting {
    margin-top: 65px;
    flex-basis: 49.202%;
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .job__posting {
    max-width: 350px;
    flex-basis: 32.202%;
  }
}
