@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --bg: #f4f6f8;
  --card-bg: #ffffff;
  --text-primary: #19202d;
  --text-secondary: #6e8098;
  --accent: #5964e0;
  --accent-hover: #939bf4;
  --theme-ctrl-bg: #ffffff;
  --company-site-btn-bg: hsl(235, 69%, 61%, 0.1);
  --company-site-btn-text: #5964e0;
}
[data-theme="dark"] {
  --bg: #121721;
  --card-bg: #19202d;
  --text-primary: #ffffff;
  --text-secondary: #6e8098;
  --accent: #5964e0;
  --accent-hover: #939bf4;
  --company-site-btn-bg: hsl(0, 0%, 100%, 0.1);
  --company-site-btn-text: #ffffff;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select,
label {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
