.job__details {
  max-width: 730px;
  margin: 0 auto;
  background: var(--card-bg);
  border-radius: 6px;
  padding: 2.5rem 1.5rem;
}

@media (min-width: 768px) {
  .job__details {
    padding: 3rem;
  }
}
